In [106]:
import numpy as np
import pandas as pd
import matplotlib.pylab as plt
import requests
from tqdm import tqdm 
from datetime import datetime

pd.options.display.max_columns = 200
plt.style.use('seaborn-whitegrid')

## Read Exchange Rate Data From `IMF`.org 
- Step 1. Read sample data from IMF website using `pd.read_html`.
- Step 2. Extract data from response. 
- Step 3. Create a dataframe that includes date range for the analysis - `2010-01-01`.

### Step 1. Read sample data from IMP website using `pd.read_html`

In [107]:
select_date = '2010-01-01'
url = f'https://www.imf.org/external/np/fin/data/rms_mth.aspx?SelectDate={select_date}&reportType=REP'
response_df = pd.read_html(url)
response_df

[                                                   0  \
 0  Representative Exchange Rates for Selected Cur...

                                    1
 0  Download this fileTSV -- TSV tips  ,
                                    0
 0  Download this fileTSV -- TSV tips,
   Download this file
 0    TSV -- TSV tips,
                                                    0
 0  These rates, normally quoted as currency units...
 1  Representative Exchange Rates for Selected Cur...
 2  Representative Exchange Rates for Selected Cur...,
                                                    0
 0  These rates, normally quoted as currency units...,
    Representative Exchange Rates for Selected Currencies for January 2010  \
                                                                  Currency
 0                                        Chinese yuan
 1                                           Euro  (1)
 2                                        Japanese yen
 3                                     U.K. pound  (1)
 4                                         U.S. dollar
 5                                      Algerian dinar
 6                              Australian dollar  (1)
 7                                       Bahrain dinar
 8                                  Botswana pula  (1)
 9                                      Brazilian real
 10                                      Brunei dollar
 11                                    Canadian dollar
 12                                       Chilean peso
 13                                     Colombian peso
 14                                       Czech koruna
 15                                       Danish krone
 16                                   Hungarian forint
 17                                    Icelandic krona
 18                                       Indian rupee
 19                                  Indonesian rupiah
 20                                       Iranian rial
 21                                 Israeli New Shekel
 22                                  Kazakhstani tenge
 23                                         Korean won
 24                                      Kuwaiti dinar
 25                                  Libyan dinar  (2)
 26                                  Malaysian ringgit
 27                                    Mauritian rupee
 28                                       Mexican peso
 29                                     Nepalese rupee
 30                            New Zealand dollar  (1)
 31                                    Norwegian krone
 32                                         Omani rial
 33                                    Pakistani rupee
 34                                       Peruvian sol
 35                                    Philippine peso
 36                                       Polish zloty
 37                                       Qatari riyal
 38                                      Russian ruble
 39                                Saudi Arabian riyal
 40                                   Singapore dollar
 41                                 South African rand
 42                                   Sri Lankan rupee
 43                                      Swedish krona
 44                                        Swiss franc
 45                                          Thai baht
 46                                 Trinidadian dollar
 47                                     Tunisian dinar
 48                                      U.A.E. dirham
 49                                     Uruguayan peso
 50                                     Bolivar Fuerte

                                                                         \
    January 04, 2010 January 05, 2010 January 06, 2010 January 07, 2010
 0          6.828100         6.827800         6.827700         6.827600
 1          1.438900         1.444200         1.435000         1.430400
 2         93.050000        91.750000        91.600000        92.200000
 3          1.622300         1.601400         1.598400         1.591200
 4          1.000000         1.000000         1.000000         1.000000
 5               NaN              NaN              NaN              NaN
 6          0.897000         0.913300         0.913800         0.922500
 7          0.376000         0.376000         0.376000         0.376000
 8          0.150600         0.151400         0.150400         0.149400
 9          1.740400         1.723200         1.721900         1.732900
 10         1.403800         1.396900         1.396600         1.394200
 11         1.037800         1.037200         1.033400         1.035100
 12       507.100000       505.700000       504.220000       497.930000
 13      2044.230000      2021.210000      1992.780000      1971.320000
 14        18.275000        18.164000        18.352000        18.436000
 15         5.171700         5.152700         5.185200         5.202100
 16       187.230000       186.090000       187.300000       187.650000
 17       124.850000       124.780000       125.290000       125.540000
 18        46.510000        46.200000        46.120000        45.870000
 19      9330.000000      9308.000000      9308.000000      9228.000000
 20     10009.000000      9980.000000     10000.000000      9981.000000
 21         3.765000         3.736000         3.740000         3.727000
 22       148.460000       148.460000       148.400000       148.220000
 23      1167.600000      1156.200000      1144.300000      1138.200000
 24         0.287100         0.286600         0.286900         0.286700
 25         1.932367         1.932367         1.932367         1.932367
 26         3.419500         3.388500         3.387500         3.370500
 27        30.360600        30.347400        30.304200        30.202600
 28        12.922600        12.824100        12.748900        12.764600
 29        74.600000        74.110000        73.880000        73.600000
 30              NaN         0.734400         0.734300         0.737800
 31         5.719000         5.686200         5.705900         5.731300
 32         0.384500         0.384500         0.384500         0.384500
 33        84.432200        84.640200        84.719900        84.782200
 34              NaN              NaN              NaN              NaN
 35              NaN              NaN              NaN              NaN
 36         2.846500         2.826400         2.849300         2.863100
 37         3.640000         3.640000         3.640000         3.640000
 38              NaN              NaN              NaN              NaN
 39         3.750000         3.750000         3.750000         3.750000
 40         1.403800         1.396900         1.396600         1.394200
 41         7.315000         7.285000         7.335000         7.395000
 42       114.425300       114.440400       114.342900       114.329800
 43         7.142500         7.057500              NaN         7.112500
 44         1.033600         1.030700         1.033500         1.035000
 45        33.359000        33.278000        33.156000        33.160000
 46         6.357400         6.354800         6.364000         6.361000
 47              NaN              NaN              NaN              NaN
 48         3.672500         3.672500         3.672500         3.672500
 49              NaN              NaN              NaN              NaN
 50         2.144600         2.144600         2.144600         2.144600

                                                                         \
    January 08, 2010 January 11, 2010 January 12, 2010 January 13, 2010
 0          6.827900         6.827500         6.827400         6.827300
 1          1.427300         1.452800         1.448100         1.456300
 2         93.300000              NaN        92.250000        91.120000
 3          1.600700         1.617600         1.614100         1.627700
 4          1.000000         1.000000         1.000000         1.000000
 5               NaN              NaN              NaN              NaN
 6          0.915400         0.930900         0.927200         0.923800
 7          0.376000         0.376000         0.376000         0.376000
 8          0.149000         0.151100         0.149200         0.150400
 9          1.740500         1.735000         1.731500         1.743100
 10         1.398200         1.388000         1.391000         1.389700
 11         1.034400         1.031700         1.037500         1.032200
 12       494.540000       492.370000       489.470000       491.160000
 13      1969.080000      1968.240000      1968.240000      1959.430000
 14        18.436000        18.034000        18.131000        17.965000
 15         5.213300         5.121900         5.138100         5.109200
 16       187.910000       184.000000       184.650000       184.170000
 17       126.210000       124.280000       124.090000       124.190000
 18        45.800000        45.360000        45.400000        45.680000
 19      9240.000000      9130.000000      9185.000000      9180.000000
 20              NaN      9959.000000      9964.000000      9964.000000
 21         3.718000         3.683000         3.691000         3.667000
 22       148.220000       148.170000       148.150000       148.110000
 23      1133.200000      1132.900000      1119.800000      1124.200000
 24         0.286700         0.286300         0.286400         0.286200
 25         1.932367         1.932367         1.932367         1.932367
 26         3.378500         3.333500         3.347500         3.349500
 27        30.188200        30.068100        29.920200        29.807500
 28        12.724300        12.669200        12.729100        12.769800
 29        73.010000        73.200000        72.600000        72.850000
 30         0.732500         0.739500         0.742200         0.738500
 31         5.723700         5.602600         5.650500         5.615900
 32         0.384500         0.384500         0.384500         0.384500
 33        84.754700        84.790400        84.841100        84.813000
 34              NaN              NaN              NaN              NaN
 35              NaN              NaN              NaN              NaN
 36         2.868300         2.798300         2.816700         2.800900
 37         3.640000         3.640000         3.640000         3.640000
 38              NaN        29.428300        29.377400        29.640900
 39         3.750000         3.750000         3.750000         3.750000
 40         1.398200         1.388000         1.391000         1.389700
 41         7.445000         7.310000         7.475000         7.365000
 42       114.322100       114.394400       114.339400       114.319000
 43         7.122500         7.032500         7.035000         7.060000
 44         1.036400         1.016400         1.019000         1.016300
 45        33.130000        33.160000        33.059000        33.060000
 46         6.334300         6.311600         6.331800         6.361900
 47              NaN              NaN              NaN              NaN
 48         3.672500         3.672500         3.672500         3.672500
 49              NaN              NaN              NaN              NaN
 50         2.144600         2.593500         2.593500         2.593500


    January 14, 2010 January 15, 2010 January 18, 2010
 0          6.827200         6.827100              NaN
 1          1.448600         1.437400         1.436900
 2         91.750000        91.100000        90.900000
 3          1.627000         1.628800         1.633700
 4          1.000000         1.000000         1.000000
 5               NaN              NaN              NaN
 6          0.929600         0.927200         0.922400
 7          0.376000         0.376000         0.376000
 8          0.149500         0.149700              NaN
 9          1.743400         1.764000         1.770300
 10         1.386400         1.388600         1.390500
 11         1.026100         1.028700         1.025100
 12       490.010000       493.000000       492.900000
 13      1965.810000      1974.130000      1967.400000
 14        17.978000        18.041000        18.016000
 15         5.136200         5.177400         5.179100
 16       184.100000       184.960000       186.260000
 17       124.220000       125.060000       124.980000
 18        45.480000        45.670000        45.660000
 19      9150.000000      9205.000000      9230.000000
 20      9961.000000              NaN     10012.000000
 21         3.683000         3.682000         3.687000
 22       148.080000       148.060000       148.040000
 23      1126.400000      1122.100000              NaN
 24         0.286050         0.286050         0.286400
 25         1.932367         1.932367         1.932367
 26         3.333000         3.340000         3.343000
 27        29.703700        29.659500        29.607200
 28        12.736400        12.688400        12.666400
 29        72.900000        72.800000        73.250000
 30         0.739800         0.742700         0.734200
 31         5.635800         5.665100         5.667400
 32         0.384500         0.384500         0.384500
 33        84.784800        84.525700        84.334300
 34              NaN              NaN              NaN
 35              NaN              NaN              NaN
 36         2.793000         2.797300         2.804200
 37         3.640000         3.640000         3.640000
 38        29.429900        29.560300        29.596300
 39         3.750000         3.750000         3.750000
 40         1.386400         1.388600         1.390500
 41         7.440000         7.415000         7.390000
 42              NaN       114.331000       114.224700
 43         7.020000         7.060000         7.040000
 44         1.021300         1.026400         1.025900
 45        33.051000        32.907000        32.874000
 46         6.354700         6.350500         6.338200
 47              NaN              NaN              NaN
 48         3.672500         3.672500         3.672500
 49              NaN              NaN              NaN
 50         2.593500         2.593500         2.593500  ,
    Representative Exchange Rates for Selected Currencies for January 2010 (Continued)  \
                                                                              Currency
 0                                        Chinese yuan
 1                                           Euro  (1)
 2                                        Japanese yen
 3                                     U.K. pound  (1)
 4                                         U.S. dollar
 5                                      Algerian dinar
 6                              Australian dollar  (1)
 7                                       Bahrain dinar
 8                                  Botswana pula  (1)
 9                                      Brazilian real
 10                                      Brunei dollar
 11                                    Canadian dollar
 12                                       Chilean peso
 13                                     Colombian peso
 14                                       Czech koruna
 15                                       Danish krone
 16                                   Hungarian forint
 17                                    Icelandic krona
 18                                       Indian rupee
 19                                  Indonesian rupiah
 20                                       Iranian rial
 21                                 Israeli New Shekel
 22                                  Kazakhstani tenge
 23                                         Korean won
 24                                      Kuwaiti dinar
 25                                  Libyan dinar  (2)
 26                                  Malaysian ringgit
 27                                    Mauritian rupee
 28                                       Mexican peso
 29                                     Nepalese rupee
 30                            New Zealand dollar  (1)
 31                                    Norwegian krone
 32                                         Omani rial
 33                                    Pakistani rupee
 34                                       Peruvian sol
 35                                    Philippine peso
 36                                       Polish zloty
 37                                       Qatari riyal
 38                                      Russian ruble
 39                                Saudi Arabian riyal
 40                                   Singapore dollar
 41                                 South African rand
 42                                   Sri Lankan rupee
 43                                      Swedish krona
 44                                        Swiss franc
 45                                          Thai baht
 46                                 Trinidadian dollar
 47                                     Tunisian dinar
 48                                      U.A.E. dirham
 49                                     Uruguayan peso
 50                                     Bolivar Fuerte

                                                                         \
    January 19, 2010 January 20, 2010 January 21, 2010 January 22, 2010
 0          6.827000         6.827300         6.827200         6.827100
 1          1.427900         1.413200         1.406400         1.413500
 2         90.500000        91.150000        91.550000        89.950000
 3          1.633800         1.627500         1.615300         1.617700
 4          1.000000         1.000000         1.000000         1.000000
 5               NaN              NaN              NaN              NaN
 6          0.923700         0.917400         0.913600         0.902900
 7          0.376000         0.376000         0.376000         0.376000
 8          0.149200         0.148200         0.147800         0.146900
 9          1.771300         1.773900         1.784600         1.789500
 10         1.387800         1.393700         1.399400         1.404500
 11         1.032800         1.047800         1.048700         1.056400
 12       490.890000       492.210000       495.200000       498.750000
 13      1967.400000      1957.820000      1964.180000      1967.080000
 14        18.141000        18.316000        18.472000        18.525000
 15         5.211900         5.266200         5.292000         5.267500
 16       186.640000       189.090000       193.310000       191.500000
 17       125.300000       126.650000       127.760000       126.860000
 18        45.620000        45.950000        45.970000        46.170000
 19      9225.000000      9275.000000      9319.000000      9388.000000
 20     10005.000000     10029.000000     10040.000000              NaN
 21         3.690000         3.704000         3.715000         3.727000
 22       148.000000       147.960000       147.950000       147.910000
 23      1126.900000      1124.300000      1132.300000      1138.500000
 24         0.286250         0.286750         0.287100         0.287100
 25         1.932367         1.932367         1.932367         1.932367
 26         3.337000         3.353000         3.371000         3.395000
 27        29.635600        29.753600        29.778700        29.904600
 28        12.647800        12.738800        12.772000        12.941200
 29        73.000000        73.040000        73.410000        73.650000
 30         0.739000         0.735100         0.721900         0.710200
 31         5.706600         5.755400         5.791700         5.798000
 32         0.384500         0.384500         0.384500         0.384500
 33        84.477500        84.662600        84.544000        84.556500
 34              NaN              NaN              NaN              NaN
 35              NaN              NaN              NaN              NaN
 36         2.797400         2.829600         2.892800         2.878500
 37         3.640000         3.640000         3.640000         3.640000

### Extract data from response.

In [108]:
# The first half of the exchange rate data (table 1) appears on the fifth column
response_df[5]

   Representative Exchange Rates for Selected Currencies for January 2010  \
                                                                 Currency
0                                        Chinese yuan
1                                           Euro  (1)
2                                        Japanese yen
3                                     U.K. pound  (1)
4                                         U.S. dollar
5                                      Algerian dinar
6                              Australian dollar  (1)
7                                       Bahrain dinar
8                                  Botswana pula  (1)
9                                      Brazilian real
10                                      Brunei dollar
11                                    Canadian dollar
12                                       Chilean peso
13                                     Colombian peso
14                                       Czech koruna
15                                       Danish krone
16                                   Hungarian forint
17                                    Icelandic krona
18                                       Indian rupee
19                                  Indonesian rupiah
20                                       Iranian rial
21                                 Israeli New Shekel
22                                  Kazakhstani tenge
23                                         Korean won
24                                      Kuwaiti dinar
25                                  Libyan dinar  (2)
26                                  Malaysian ringgit
27                                    Mauritian rupee
28                                       Mexican peso
29                                     Nepalese rupee
30                            New Zealand dollar  (1)
31                                    Norwegian krone
32                                         Omani rial
33                                    Pakistani rupee
34                                       Peruvian sol
35                                    Philippine peso
36                                       Polish zloty
37                                       Qatari riyal
38                                      Russian ruble
39                                Saudi Arabian riyal
40                                   Singapore dollar
41                                 South African rand
42                                   Sri Lankan rupee
43                                      Swedish krona
44                                        Swiss franc
45                                          Thai baht
46                                 Trinidadian dollar
47                                     Tunisian dinar
48                                      U.A.E. dirham
49                                     Uruguayan peso
50                                     Bolivar Fuerte

                                                                        \
   January 04, 2010 January 05, 2010 January 06, 2010 January 07, 2010
0          6.828100         6.827800         6.827700         6.827600
1          1.438900         1.444200         1.435000         1.430400
2         93.050000        91.750000        91.600000        92.200000
3          1.622300         1.601400         1.598400         1.591200
4          1.000000         1.000000         1.000000         1.000000
5               NaN              NaN              NaN              NaN
6          0.897000         0.913300         0.913800         0.922500
7          0.376000         0.376000         0.376000         0.376000
8          0.150600         0.151400         0.150400         0.149400
9          1.740400         1.723200         1.721900         1.732900
10         1.403800         1.396900         1.396600         1.394200
11         1.037800         1.037200         1.033400         1.035100
12       507.100000       505.700000       504.220000       497.930000
13      2044.230000      2021.210000      1992.780000      1971.320000
14        18.275000        18.164000        18.352000        18.436000
15         5.171700         5.152700         5.185200         5.202100
16       187.230000       186.090000       187.300000       187.650000
17       124.850000       124.780000       125.290000       125.540000
18        46.510000        46.200000        46.120000        45.870000
19      9330.000000      9308.000000      9308.000000      9228.000000
20     10009.000000      9980.000000     10000.000000      9981.000000
21         3.765000         3.736000         3.740000         3.727000
22       148.460000       148.460000       148.400000       148.220000
23      1167.600000      1156.200000      1144.300000      1138.200000
24         0.287100         0.286600         0.286900         0.286700
25         1.932367         1.932367         1.932367         1.932367
26         3.419500         3.388500         3.387500         3.370500
27        30.360600        30.347400        30.304200        30.202600
28        12.922600        12.824100        12.748900        12.764600
29        74.600000        74.110000        73.880000        73.600000
30              NaN         0.734400         0.734300         0.737800
31         5.719000         5.686200         5.705900         5.731300
32         0.384500         0.384500         0.384500         0.384500
33        84.432200        84.640200        84.719900        84.782200
34              NaN              NaN              NaN              NaN
35              NaN              NaN              NaN              NaN
36         2.846500         2.826400         2.849300         2.863100
37         3.640000         3.640000         3.640000         3.640000
38              NaN              NaN              NaN              NaN
39         3.750000         3.750000         3.750000         3.750000
40         1.403800         1.396900         1.396600         1.394200
41         7.315000         7.285000         7.335000         7.395000
42       114.425300       114.440400       114.342900       114.329800
43         7.142500         7.057500              NaN         7.112500
44         1.033600         1.030700         1.033500         1.035000
45        33.359000        33.278000        33.156000        33.160000
46         6.357400         6.354800         6.364000         6.361000
47              NaN              NaN              NaN              NaN
48         3.672500         3.672500         3.672500         3.672500
49              NaN              NaN              NaN              NaN
50         2.144600         2.144600         2.144600         2.144600

                                                                        \
   January 08, 2010 January 11, 2010 January 12, 2010 January 13, 2010
0          6.827900         6.827500         6.827400         6.827300
1          1.427300         1.452800         1.448100         1.456300
2         93.300000              NaN        92.250000        91.120000
3          1.600700         1.617600         1.614100         1.627700
4          1.000000         1.000000         1.000000         1.000000
5               NaN              NaN              NaN              NaN
6          0.915400         0.930900         0.927200         0.923800
7          0.376000         0.376000         0.376000         0.376000
8          0.149000         0.151100         0.149200         0.150400
9          1.740500         1.735000         1.731500         1.743100
10         1.398200         1.388000         1.391000         1.389700
11         1.034400         1.031700         1.037500         1.032200
12       494.540000       492.370000       489.470000       491.160000
13      1969.080000      1968.240000      1968.240000      1959.430000
14        18.436000        18.034000        18.131000        17.965000
15         5.213300         5.121900         5.138100         5.109200
16       187.910000       184.000000       184.650000       184.170000
17       126.210000       124.280000       124.090000       124.190000
18        45.800000        45.360000        45.400000        45.680000
19      9240.000000      9130.000000      9185.000000      9180.000000
20              NaN      9959.000000      9964.000000      9964.000000
21         3.718000         3.683000         3.691000         3.667000
22       148.220000       148.170000       148.150000       148.110000
23      1133.200000      1132.900000      1119.800000      1124.200000
24         0.286700         0.286300         0.286400         0.286200
25         1.932367         1.932367         1.932367         1.932367
26         3.378500         3.333500         3.347500         3.349500
27        30.188200        30.068100        29.920200        29.807500
28        12.724300        12.669200        12.729100        12.769800
29        73.010000        73.200000        72.600000        72.850000
30         0.732500         0.739500         0.742200         0.738500
31         5.723700         5.602600         5.650500         5.615900
32         0.384500         0.384500         0.384500         0.384500
33        84.754700        84.790400        84.841100        84.813000
34              NaN              NaN              NaN              NaN
35              NaN              NaN              NaN              NaN
36         2.868300         2.798300         2.816700         2.800900
37         3.640000         3.640000         3.640000         3.640000
38              NaN        29.428300        29.377400        29.640900
39         3.750000         3.750000         3.750000         3.750000
40         1.398200         1.388000         1.391000         1.389700
41         7.445000         7.310000         7.475000         7.365000
42       114.322100       114.394400       114.339400       114.319000
43         7.122500         7.032500         7.035000         7.060000
44         1.036400         1.016400         1.019000         1.016300
45        33.130000        33.160000        33.059000        33.060000
46         6.334300         6.311600         6.331800         6.361900
47              NaN              NaN              NaN              NaN
48         3.672500         3.672500         3.672500         3.672500
49              NaN              NaN              NaN              NaN
50         2.144600         2.593500         2.593500         2.593500


   January 14, 2010 January 15, 2010 January 18, 2010
0          6.827200         6.827100              NaN
1          1.448600         1.437400         1.436900
2         91.750000        91.100000        90.900000
3          1.627000         1.628800         1.633700
4          1.000000         1.000000         1.000000
5               NaN              NaN              NaN
6          0.929600         0.927200         0.922400
7          0.376000         0.376000         0.376000
8          0.149500         0.149700              NaN
9          1.743400         1.764000         1.770300
10         1.386400         1.388600         1.390500
11         1.026100         1.028700         1.025100
12       490.010000       493.000000       492.900000
13      1965.810000      1974.130000      1967.400000
14        17.978000        18.041000        18.016000
15         5.136200         5.177400         5.179100
16       184.100000       184.960000       186.260000
17       124.220000       125.060000       124.980000
18        45.480000        45.670000        45.660000
19      9150.000000      9205.000000      9230.000000
20      9961.000000              NaN     10012.000000
21         3.683000         3.682000         3.687000
22       148.080000       148.060000       148.040000
23      1126.400000      1122.100000              NaN
24         0.286050         0.286050         0.286400
25         1.932367         1.932367         1.932367
26         3.333000         3.340000         3.343000
27        29.703700        29.659500        29.607200
28        12.736400        12.688400        12.666400
29        72.900000        72.800000        73.250000
30         0.739800         0.742700         0.734200
31         5.635800         5.665100         5.667400
32         0.384500         0.384500         0.384500
33        84.784800        84.525700        84.334300
34              NaN              NaN              NaN
35              NaN              NaN              NaN
36         2.793000         2.797300         2.804200
37         3.640000         3.640000         3.640000
38        29.429900        29.560300        29.596300
39         3.750000         3.750000         3.750000
40         1.386400         1.388600         1.390500
41         7.440000         7.415000         7.390000
42              NaN       114.331000       114.224700
43         7.020000         7.060000         7.040000
44         1.021300         1.026400         1.025900
45        33.051000        32.907000        32.874000
46         6.354700         6.350500         6.338200
47              NaN              NaN              NaN
48         3.672500         3.672500         3.672500
49              NaN              NaN              NaN
50         2.593500         2.593500         2.593500

In [109]:
# and the second half in the response_df[6] column
response_df[6]

   Representative Exchange Rates for Selected Currencies for January 2010 (Continued)  \
                                                                             Currency
0                                        Chinese yuan
1                                           Euro  (1)
2                                        Japanese yen
3                                     U.K. pound  (1)
4                                         U.S. dollar
5                                      Algerian dinar
6                              Australian dollar  (1)
7                                       Bahrain dinar
8                                  Botswana pula  (1)
9                                      Brazilian real
10                                      Brunei dollar
11                                    Canadian dollar
12                                       Chilean peso
13                                     Colombian peso
14                                       Czech koruna
15                                       Danish krone
16                                   Hungarian forint
17                                    Icelandic krona
18                                       Indian rupee
19                                  Indonesian rupiah
20                                       Iranian rial
21                                 Israeli New Shekel
22                                  Kazakhstani tenge
23                                         Korean won
24                                      Kuwaiti dinar
25                                  Libyan dinar  (2)
26                                  Malaysian ringgit
27                                    Mauritian rupee
28                                       Mexican peso
29                                     Nepalese rupee
30                            New Zealand dollar  (1)
31                                    Norwegian krone
32                                         Omani rial
33                                    Pakistani rupee
34                                       Peruvian sol
35                                    Philippine peso
36                                       Polish zloty
37                                       Qatari riyal
38                                      Russian ruble
39                                Saudi Arabian riyal
40                                   Singapore dollar
41                                 South African rand
42                                   Sri Lankan rupee
43                                      Swedish krona
44                                        Swiss franc
45                                          Thai baht
46                                 Trinidadian dollar
47                                     Tunisian dinar
48                                      U.A.E. dirham
49                                     Uruguayan peso
50                                     Bolivar Fuerte

                                                                        \
   January 19, 2010 January 20, 2010 January 21, 2010 January 22, 2010
0          6.827000         6.827300         6.827200         6.827100
1          1.427900         1.413200         1.406400         1.413500
2         90.500000        91.150000        91.550000        89.950000
3          1.633800         1.627500         1.615300         1.617700
4          1.000000         1.000000         1.000000         1.000000
5               NaN              NaN              NaN              NaN
6          0.923700         0.917400         0.913600         0.902900
7          0.376000         0.376000         0.376000         0.376000
8          0.149200         0.148200         0.147800         0.146900
9          1.771300         1.773900         1.784600         1.789500
10         1.387800         1.393700         1.399400         1.404500
11         1.032800         1.047800         1.048700         1.056400
12       490.890000       492.210000       495.200000       498.750000
13      1967.400000      1957.820000      1964.180000      1967.080000
14        18.141000        18.316000        18.472000        18.525000
15         5.211900         5.266200         5.292000         5.267500
16       186.640000       189.090000       193.310000       191.500000
17       125.300000       126.650000       127.760000       126.860000
18        45.620000        45.950000        45.970000        46.170000
19      9225.000000      9275.000000      9319.000000      9388.000000
20     10005.000000     10029.000000     10040.000000              NaN
21         3.690000         3.704000         3.715000         3.727000
22       148.000000       147.960000       147.950000       147.910000
23      1126.900000      1124.300000      1132.300000      1138.500000
24         0.286250         0.286750         0.287100         0.287100
25         1.932367         1.932367         1.932367         1.932367
26         3.337000         3.353000         3.371000         3.395000
27        29.635600        29.753600        29.778700        29.904600
28        12.647800        12.738800        12.772000        12.941200
29        73.000000        73.040000        73.410000        73.650000
30         0.739000         0.735100         0.721900         0.710200
31         5.706600         5.755400         5.791700         5.798000
32         0.384500         0.384500         0.384500         0.384500
33        84.477500        84.662600        84.544000        84.556500
34              NaN              NaN              NaN              NaN
35              NaN              NaN              NaN              NaN
36         2.797400         2.829600         2.892800         2.878500
37         3.640000         3.640000         3.640000         3.640000
38        29.518400        29.694100        29.748600        29.745800
39         3.750000         3.750000         3.750000         3.750000
40         1.387800         1.393700         1.399400         1.404500
41         7.425000         7.485000         7.530000         7.580000
42       114.240100       114.229500       114.302600       114.390300
43         7.030000         7.130000         7.202500         7.195000
44         1.033300         1.042800         1.047500         1.042300
45        32.871000        32.814000        32.918000        32.961000
46         6.349500         6.360800         6.355800         6.337800
47              NaN              NaN              NaN              NaN
48         3.672500         3.672500         3.672500         3.672500
49              NaN              NaN              NaN              NaN
50         2.593500         2.593500         2.593500         2.593500

                                                                        \
   January 25, 2010 January 26, 2010 January 27, 2010 January 28, 2010
0            6.8270         6.826900         6.827000         6.827100
1            1.4151         1.408500         1.407200         1.399900
2           90.0900        90.400000        89.200000        90.310000
3            1.6148         1.611700         1.622600         1.624400
4            1.0000         1.000000         1.000000         1.000000
5               NaN              NaN              NaN              NaN
6            0.9069              NaN         0.902000         0.901000
7            0.3760         0.376000         0.376000         0.376000
8            0.1472         0.146600         0.147300         0.147100
9            1.8179         1.818600         1.835900         1.850500
10           1.4017         1.401200         1.401900         1.402600
11           1.0582         1.060600         1.065700         1.064300
12         506.3600       506.880000       512.120000       520.690000
13        1981.9600      1961.970000      1972.220000      1988.050000
14          18.3770        18.531000        18.555000        18.739000
15           5.2611         5.285800         5.290600         5.318000
16         191.1500       193.940000       193.650000       193.570000
17         126.5600       127.330000       127.660000       128.040000
18          46.1800              NaN        46.290000        46.310000
19        9340.0000      9315.000000      9380.000000      9408.000000
20       10025.0000     10008.000000     10007.000000     10008.000000
21           3.7220         3.733000         3.729000              NaN
22         147.8800       147.940000       147.990000       148.070000
23        1150.1000      1149.100000      1151.200000      1159.400000
24           0.2867         0.286700         0.286800         0.287100
25           1.9324         1.932367         1.932367         1.932367
26           3.4055         3.406000         3.421000         3.410500
27          29.9386        29.910700        29.902600        29.874900
28          12.9018        12.854900        12.929500        12.997500
29          73.8500        73.850000        73.800000        74.200000
30           0.7118         0.714000         0.707500         0.706200
31           5.7961         5.857600         5.841000         5.842600
32           0.3845         0.384500         0.384500         0.384500
33          84.6508        84.633800        84.619600        84.555400
34              NaN              NaN              NaN              NaN
35              NaN              NaN              NaN              NaN
36           2.8688         2.906800         2.908200         2.895700
37           3.6400         3.640000         3.640000         3.640000
38          30.0946        30.313600        30.292100        30.363100
39           3.7500         3.750000         3.750000         3.750000
40           1.4017         1.401200         1.401900         1.402600
41           7.5750         7.640000         7.585000         7.565000
42         114.3731       114.428100              NaN       114.550300
43           7.2375         7.290000         7.302500         7.277500
44           1.0386         1.045100         1.045300         1.051800
45          33.0200        33.012000        33.002000        33.047000
46           6.3456         6.351300         6.357000         6.357900
47              NaN              NaN              NaN              NaN
48           3.6725         3.672500         3.672500         3.672500
49              NaN              NaN              NaN              NaN
50           2.5935         2.593500         2.593500         2.593500


   January 29, 2010
0          6.827000
1          1.396600
2         89.850000
3          1.613800
4          1.000000
5               NaN
6          0.890900
7          0.376000
8          0.147000
9          1.855200
10         1.404600
11         1.065000
12       531.750000
13      1991.210000
14        18.782000
15         5.330300
16       193.980000
17       127.670000
18        46.370000
19      9365.000000
20              NaN
21         3.724000
22       148.190000
23      1156.500000
24         0.287100
25         1.932367
26         3.413000
27        29.889700
28        13.009800
29        74.000000
30         0.704800
31         5.880000
32         0.384500
33        84.733900
34              NaN
35              NaN
36         2.908300
37         3.640000
38        30.431200
39         3.750000
40         1.404600
41         7.555000
42              NaN
43         7.332500
44         1.049800
45        33.075000
46              NaN
47              NaN
48         3.672500
49              NaN
50         2.593500

- Inspect the first table - response_df[5]

In [110]:
# inspect the columns
response_df[5].columns

MultiIndex([('Representative Exchange Rates for Selected Currencies for January 2010', ...),
            ('Representative Exchange Rates for Selected Currencies for January 2010', ...),
            ('Representative Exchange Rates for Selected Currencies for January 2010', ...),
            ('Representative Exchange Rates for Selected Currencies for January 2010', ...),
            ('Representative Exchange Rates for Selected Currencies for January 2010', ...),
            ('Representative Exchange Rates for Selected Currencies for January 2010', ...),
            ('Representative Exchange Rates for Selected Currencies for January 2010', ...),
            ('Representative Exchange Rates for Selected Currencies for January 2010', ...),
            ('Representative Exchange Rates for Selected Currencies for January 2010', ...),
            ('Representative Exchange Rates for Selected Currencies for January 2010', ...),
            ('Representative Exchange Rates for Selected Currencies for January 2010', ...),
            ('Representative Exchange Rates for Selected Currencies for January 2010', ...)],
           )

In [111]:
# drop the first level of the multiindex 
response_df[5].columns.droplevel(0)

Index(['Currency', 'January 04, 2010', 'January 05, 2010', 'January 06, 2010',
       'January 07, 2010', 'January 08, 2010', 'January 11, 2010',
       'January 12, 2010', 'January 13, 2010', 'January 14, 2010',
       'January 15, 2010', 'January 18, 2010'],
      dtype='object')

In [112]:
# overwrite the df
response_df[5].columns = response_df[5].columns.droplevel(0)

In [113]:
# set curency as index and flip the rows with columns
response_df[5].set_index('Currency').T

Currency,Chinese yuan,Euro (1),Japanese yen,U.K. pound (1),U.S. dollar,Algerian dinar,Australian dollar (1),Bahrain dinar,Botswana pula (1),Brazilian real,Brunei dollar,Canadian dollar,Chilean peso,Colombian peso,Czech koruna,Danish krone,Hungarian forint,Icelandic krona,Indian rupee,Indonesian rupiah,Iranian rial,Israeli New Shekel,Kazakhstani tenge,Korean won,Kuwaiti dinar,Libyan dinar (2),Malaysian ringgit,Mauritian rupee,Mexican peso,Nepalese rupee,New Zealand dollar (1),Norwegian krone,Omani rial,Pakistani rupee,Peruvian sol,Philippine peso,Polish zloty,Qatari riyal,Russian ruble,Saudi Arabian riyal,Singapore dollar,South African rand,Sri Lankan rupee,Swedish krona,Swiss franc,Thai baht,Trinidadian dollar,Tunisian dinar,U.A.E. dirham,Uruguayan peso,Bolivar Fuerte
"January 04, 2010",6.8281,1.4389,93.05,1.6223,1.0,NaN,0.8970,0.376,0.1506,1.7404,1.4038,1.0378,507.10,2044.23,18.275,5.1717,187.23,124.85,46.51,9330.0,10009.0,3.765,148.46,1167.6,0.28710,1.932367,3.4195,30.3606,12.9226,74.60,NaN,5.7190,0.3845,84.4322,NaN,NaN,2.8465,3.64,NaN,3.75,1.4038,7.315,114.4253,7.1425,1.0336,33.359,6.3574,NaN,3.6725,NaN,2.1446
"January 05, 2010",6.8278,1.4442,91.75,1.6014,1.0,NaN,0.9133,0.376,0.1514,1.7232,1.3969,1.0372,505.70,2021.21,18.164,5.1527,186.09,124.78,46.20,9308.0,9980.0,3.736,148.46,1156.2,0.28660,1.932367,3.3885,30.3474,12.8241,74.11,0.7344,5.6862,0.3845,84.6402,NaN,NaN,2.8264,3.64,NaN,3.75,1.3969,7.285,114.4404,7.0575,1.0307,33.278,6.3548,NaN,3.6725,NaN,2.1446
"January 06, 2010",6.8277,1.4350,91.60,1.5984,1.0,NaN,0.9138,0.376,0.1504,1.7219,1.3966,1.0334,504.22,1992.78,18.352,5.1852,187.30,125.29,46.12,9308.0,10000.0,3.740,148.40,1144.3,0.28690,1.932367,3.3875,30.3042,12.7489,73.88,0.7343,5.7059,0.3845,84.7199,NaN,NaN,2.8493,3.64,NaN,3.75,1.3966,7.335,114.3429,NaN,1.0335,33.156,6.3640,NaN,3.6725,NaN,2.1446
"January 07, 2010",6.8276,1.4304,92.20,1.5912,1.0,NaN,0.9225,0.376,0.1494,1.7329,1.3942,1.0351,497.93,1971.32,18.436,5.2021,187.65,125.54,45.87,9228.0,9981.0,3.727,148.22,1138.2,0.28670,1.932367,3.3705,30.2026,12.7646,73.60,0.7378,5.7313,0.3845,84.7822,NaN,NaN,2.8631,3.64,NaN,3.75,1.3942,7.395,114.3298,7.1125,1.0350,33.160,6.3610,NaN,3.6725,NaN,2.1446
"January 08, 2010",6.8279,1.4273,93.30,1.6007,1.0,NaN,0.9154,0.376,0.1490,1.7405,1.3982,1.0344,494.54,1969.08,18.436,5.2133,187.91,126.21,45.80,9240.0,NaN,3.718,148.22,1133.2,0.28670,1.932367,3.3785,30.1882,12.7243,73.01,0.7325,5.7237,0.3845,84.7547,NaN,NaN,2.8683,3.64,NaN,3.75,1.3982,7.445,114.3221,7.1225,1.0364,33.130,6.3343,NaN,3.6725,NaN,2.1446
"January 11, 2010",6.8275,1.4528,NaN,1.6176,1.0,NaN,0.9309,0.376,0.1511,1.7350,1.3880,1.0317,492.37,1968.24,18.034,5.1219,184.00,124.28,45.36,9130.0,9959.0,3.683,148.17,1132.9,0.28630,1.932367,3.3335,30.0681,12.6692,73.20,0.7395,5.6026,0.3845,84.7904,NaN,NaN,2.7983,3.64,29.4283,3.75,1.3880,7.310,114.3944,7.0325,1.0164,33.160,6.3116,NaN,3.6725,NaN,2.5935
"January 12, 2010",6.8274,1.4481,92.25,1.6141,1.0,NaN,0.9272,0.376,0.1492,1.7315,1.3910,1.0375,489.47,1968.24,18.131,5.1381,184.65,124.09,45.40,9185.0,9964.0,3.691,148.15,1119.8,0.28640,1.932367,3.3475,29.9202,12.7291,72.60,0.7422,5.6505,0.3845,84.8411,NaN,NaN,2.8167,3.64,29.3774,3.75,1.3910,7.475,114.3394,7.0350,1.0190,33.059,6.3318,NaN,3.6725,NaN,2.5935
"January 13, 2010",6.8273,1.4563,91.12,1.6277,1.0,NaN,0.9238,0.376,0.1504,1.7431,1.3897,1.0322,491.16,1959.43,17.965,5.1092,184.17,124.19,45.68,9180.0,9964.0,3.667,148.11,1124.2,0.28620,1.932367,3.3495,29.8075,12.7698,72.85,0.7385,5.6159,0.3845,84.8130,NaN,NaN,2.8009,3.64,29.6409,3.75,1.3897,7.365,114.3190,7.0600,1.0163,33.060,6.3619,NaN,3.6725,NaN,2.5935
"January 14, 2010",6.8272,1.4486,91.75,1.6270,1.0,NaN,0.9296,0.376,0.1495,1.7434,1.3864,1.0261,490.01,1965.81,17.978,5.1362,184.10,124.22,45.48,9150.0,9961.0,3.683,148.08,1126.4,0.28605,1.932367,3.3330,29.7037,12.7364,72.90,0.7398,5.6358,0.3845,84.7848,NaN,NaN,2.7930,3.64,29.4299,3.75,1.3864,7.440,NaN,7.0200,1.0213,33.051,6.3547,NaN,3.6725,NaN,2.5935
"January 15, 2010",6.8271,1.4374,91.10,1.6288,1.0,NaN,0.9272,0.376,0.1497,1.7640,1.3886,1.0287,493.00,1974.13,18.041,5.1774,184.96,125.06,45.67,9205.0,NaN,3.682,148.06,1122.1,0.28605,1.932367,3.3400,29.6595,12.6884,72.80,0.7427,5.6651,0.3845,84.5257,NaN,NaN,2.7973,3.64,29.5603,3.75,1.3886,7.415,114.3310,7.0600,1.0264,32.907,6.3505,NaN,3.6725,NaN,2.5935
"January 18, 2010",NaN,1.4369,90.90,1.6337,1.0,NaN,0.9224,0.376,NaN,1.7703,1.3905,1.0251,492.90,1967.40,18.016,5.1791,186.26,124.98,45.66,9230.0,10012.0,3.687,148.04,NaN,0.28640,1.932367,3.3430,29.6072,12.6664,73.25,0.7342,5.6674,0.3845,84.3343,NaN,NaN,2.8042,3.64,29.5963,3.75,1.3905,7.390,114.2247,7.0400,1.0259,32.874,6.3382,NaN,3.6725,NaN,2.5935

In [114]:
# save the results to a seperate temporary dataframe 
temp_df = response_df[5].set_index('Currency').T

- Change the `Currency` index column type from str to datetime

In [115]:
temp_df.index

Index(['January 04, 2010', 'January 05, 2010', 'January 06, 2010',
       'January 07, 2010', 'January 08, 2010', 'January 11, 2010',
       'January 12, 2010', 'January 13, 2010', 'January 14, 2010',
       'January 15, 2010', 'January 18, 2010'],
      dtype='object')

In [116]:
pd.to_datetime(temp_df.index.str.replace(',', ', '))

DatetimeIndex(['2010-01-04', '2010-01-05', '2010-01-06', '2010-01-07',
               '2010-01-08', '2010-01-11', '2010-01-12', '2010-01-13',
               '2010-01-14', '2010-01-15', '2010-01-18'],
              dtype='datetime64[ns]', freq=None)

In [117]:
# update temp_df
temp_df.index = pd.to_datetime(temp_df.index.str.replace(',', ', '))

- Apply the same logic for the second table - response_df[6]

In [118]:
response_df[6].columns = response_df[6].columns.droplevel(0)
temp_df2 = response_df[6].set_index('Currency').T
temp_df2.index = pd.to_datetime(temp_df2.index.str.replace(',', ', '))

- Join both temporary dataframes

In [119]:
joined_df = pd.concat([temp_df, temp_df2])
joined_df

Currency,Chinese yuan,Euro (1),Japanese yen,U.K. pound (1),U.S. dollar,Algerian dinar,Australian dollar (1),Bahrain dinar,Botswana pula (1),Brazilian real,Brunei dollar,Canadian dollar,Chilean peso,Colombian peso,Czech koruna,Danish krone,Hungarian forint,Icelandic krona,Indian rupee,Indonesian rupiah,Iranian rial,Israeli New Shekel,Kazakhstani tenge,Korean won,Kuwaiti dinar,Libyan dinar (2),Malaysian ringgit,Mauritian rupee,Mexican peso,Nepalese rupee,New Zealand dollar (1),Norwegian krone,Omani rial,Pakistani rupee,Peruvian sol,Philippine peso,Polish zloty,Qatari riyal,Russian ruble,Saudi Arabian riyal,Singapore dollar,South African rand,Sri Lankan rupee,Swedish krona,Swiss franc,Thai baht,Trinidadian dollar,Tunisian dinar,U.A.E. dirham,Uruguayan peso,Bolivar Fuerte
2010-01-04,6.8281,1.4389,93.05,1.6223,1.0,NaN,0.8970,0.376,0.1506,1.7404,1.4038,1.0378,507.10,2044.23,18.275,5.1717,187.23,124.85,46.51,9330.0,10009.0,3.765,148.46,1167.6,0.28710,1.932367,3.4195,30.3606,12.9226,74.60,NaN,5.7190,0.3845,84.4322,NaN,NaN,2.8465,3.64,NaN,3.75,1.4038,7.315,114.4253,7.1425,1.0336,33.359,6.3574,NaN,3.6725,NaN,2.1446
2010-01-05,6.8278,1.4442,91.75,1.6014,1.0,NaN,0.9133,0.376,0.1514,1.7232,1.3969,1.0372,505.70,2021.21,18.164,5.1527,186.09,124.78,46.20,9308.0,9980.0,3.736,148.46,1156.2,0.28660,1.932367,3.3885,30.3474,12.8241,74.11,0.7344,5.6862,0.3845,84.6402,NaN,NaN,2.8264,3.64,NaN,3.75,1.3969,7.285,114.4404,7.0575,1.0307,33.278,6.3548,NaN,3.6725,NaN,2.1446
2010-01-06,6.8277,1.4350,91.60,1.5984,1.0,NaN,0.9138,0.376,0.1504,1.7219,1.3966,1.0334,504.22,1992.78,18.352,5.1852,187.30,125.29,46.12,9308.0,10000.0,3.740,148.40,1144.3,0.28690,1.932367,3.3875,30.3042,12.7489,73.88,0.7343,5.7059,0.3845,84.7199,NaN,NaN,2.8493,3.64,NaN,3.75,1.3966,7.335,114.3429,NaN,1.0335,33.156,6.3640,NaN,3.6725,NaN,2.1446
2010-01-07,6.8276,1.4304,92.20,1.5912,1.0,NaN,0.9225,0.376,0.1494,1.7329,1.3942,1.0351,497.93,1971.32,18.436,5.2021,187.65,125.54,45.87,9228.0,9981.0,3.727,148.22,1138.2,0.28670,1.932367,3.3705,30.2026,12.7646,73.60,0.7378,5.7313,0.3845,84.7822,NaN,NaN,2.8631,3.64,NaN,3.75,1.3942,7.395,114.3298,7.1125,1.0350,33.160,6.3610,NaN,3.6725,NaN,2.1446
2010-01-08,6.8279,1.4273,93.30,1.6007,1.0,NaN,0.9154,0.376,0.1490,1.7405,1.3982,1.0344,494.54,1969.08,18.436,5.2133,187.91,126.21,45.80,9240.0,NaN,3.718,148.22,1133.2,0.28670,1.932367,3.3785,30.1882,12.7243,73.01,0.7325,5.7237,0.3845,84.7547,NaN,NaN,2.8683,3.64,NaN,3.75,1.3982,7.445,114.3221,7.1225,1.0364,33.130,6.3343,NaN,3.6725,NaN,2.1446
2010-01-11,6.8275,1.4528,NaN,1.6176,1.0,NaN,0.9309,0.376,0.1511,1.7350,1.3880,1.0317,492.37,1968.24,18.034,5.1219,184.00,124.28,45.36,9130.0,9959.0,3.683,148.17,1132.9,0.28630,1.932367,3.3335,30.0681,12.6692,73.20,0.7395,5.6026,0.3845,84.7904,NaN,NaN,2.7983,3.64,29.4283,3.75,1.3880,7.310,114.3944,7.0325,1.0164,33.160,6.3116,NaN,3.6725,NaN,2.5935
2010-01-12,6.8274,1.4481,92.25,1.6141,1.0,NaN,0.9272,0.376,0.1492,1.7315,1.3910,1.0375,489.47,1968.24,18.131,5.1381,184.65,124.09,45.40,9185.0,9964.0,3.691,148.15,1119.8,0.28640,1.932367,3.3475,29.9202,12.7291,72.60,0.7422,5.6505,0.3845,84.8411,NaN,NaN,2.8167,3.64,29.3774,3.75,1.3910,7.475,114.3394,7.0350,1.0190,33.059,6.3318,NaN,3.6725,NaN,2.5935
2010-01-13,6.8273,1.4563,91.12,1.6277,1.0,NaN,0.9238,0.376,0.1504,1.7431,1.3897,1.0322,491.16,1959.43,17.965,5.1092,184.17,124.19,45.68,9180.0,9964.0,3.667,148.11,1124.2,0.28620,1.932367,3.3495,29.8075,12.7698,72.85,0.7385,5.6159,0.3845,84.8130,NaN,NaN,2.8009,3.64,29.6409,3.75,1.3897,7.365,114.3190,7.0600,1.0163,33.060,6.3619,NaN,3.6725,NaN,2.5935
2010-01-14,6.8272,1.4486,91.75,1.6270,1.0,NaN,0.9296,0.376,0.1495,1.7434,1.3864,1.0261,490.01,1965.81,17.978,5.1362,184.10,124.22,45.48,9150.0,9961.0,3.683,148.08,1126.4,0.28605,1.932367,3.3330,29.7037,12.7364,72.90,0.7398,5.6358,0.3845,84.7848,NaN,NaN,2.7930,3.64,29.4299,3.75,1.3864,7.440,NaN,7.0200,1.0213,33.051,6.3547,NaN,3.6725,NaN,2.5935
2010-01-15,6.8271,1.4374,91.10,1.6288,1.0,NaN,0.9272,0.376,0.1497,1.7640,1.3886,1.0287,493.00,1974.13,18.041,5.1774,184.96,125.06,45.67,9205.0,NaN,3.682,148.06,1122.1,0.28605,1.932367,3.3400,29.6595,12.6884,72.80,0.7427,5.6651,0.3845,84.5257,NaN,NaN,2.7973,3.64,29.5603,3.75,1.3886,7.415,114.3310,7.0600,1.0264,32.907,6.3505,NaN,3.6725,NaN,2.5935
2010-01-18,NaN,1.4369,90.90,1.6337,1.0,NaN,0.9224,0.376,NaN,1.7703,1.3905,1.0251,492.90,1967.40,18.016,5.1791,186.26,124.98,45.66,9230.0,10012.0,3.687,148.04,NaN,0.28640,1.932367,3.3430,29.6072,12.6664,73.25,0.7342,5.6674,0.3845,84.3343,NaN,NaN,2.8042,3.64,29.5963,3.75,1.3905,7.390,114.2247,7.0400,1.0259,32.874,6.3382,NaN,3.6725,NaN,2.5935
2010-01-19,6.8270,1.4279,90.50,1.6338,1.0,NaN,0.9237,0.376,0.1492,1.7713,1.3878,1.0328,490.89,1967.40,18.141,5.2119,186.64,125.30,45.62,9225.0,10005.0,3.690,148.00,1126.9,0.28625,1.932367,3.3370,29.6356,12.6478,73.00,0.7390,5.7066,0.3845,84.4775,NaN,NaN,2.7974,3.64,29.5184,3.75,1.3878,7.425,114.2401,7.0300,1.0333,32.871,6.3495,NaN,3.6725,NaN,2.5935
2010-01-20,6.8273,1.4132,91.15,1.6275,1.0,NaN,0.9174,0.376,0.1482,1.7739,1.3937,1.0478,492.21,1957.82,18.316,5.2662,189.09,126.65,45.95,9275.0,10029.0,3.704,147.96,1124.3,0.28675,1.932367,3.3530,29.7536,12.7388,73.04,0.7351,5.7554,0.3845,84.6626,NaN,NaN,2.8296,3.64,29.6941,3.75,1.3937,7.485,114.2295,7.1300,1.0428,32.814,6.3608,NaN,3.6725,NaN,2.5935
2010-01-21,6.8272,1.4064,91.55,1.6153,1.0,NaN,0.9136,0.376,0.1478,1.7846,1.3994,1.0487,495.20,1964.18,18.472,5.2920,193.31,127.76,45.97,9319.0,10040.0,3.715,147.95,1132.3,0.28710,1.932367,3.3710,29.7787,12.7720,73.41,0.7219,5.7917,0.3845,84.5440,NaN,NaN,2.8928,3.64,29.7486,3.75,1.3994,7.530,114.3026,7.2025,1.0475,32.918,6.3558,NaN,3.6725,NaN,2.5935
2010-01-22,6.8271,1.4135,89.95,1.6177,1.0,NaN,0.9029,0.376,0.1469,1.7895,1.4045,1.0564,498.75,1967.08,18.525,5.2675,191.50,126.86,46.17,9388.0,NaN,3.727,147.91,1138.5,0.28710,1.932367,3.3950,29.9046,12.9412,73.65,0.7102,5.7980,0.3845,84.5565,NaN,NaN,2.8785,3.64,29.7458,3.75,1.4045,7.580,114.3903,7.1950,1.0423,32.961,6.3378,NaN,3.6725,NaN,2.5935
2010-01-25,6.8270,1.4151,90.09,1.6148,1.0,NaN,0.9069,0.376,0.1472,1.8179,1.4017,1.0582,506.36,1981.96,18.377,5.2611,191.15,126.56,46.18,9340.0,10025.0,3.722,147.88,1150.1,0.28670,1.932400,3.4055,29.9386,12.9018,73.85,0.7118,5.7961,0.3845,84.6508,NaN,NaN,2.8688,3.64,30.0946,3.75,1.4017,7.575,114.3731,7.2375,1.0386,33.020,6.3456,NaN,3.6725,NaN,2.5935
2010-01-26,6.8269,1.4085,90.40,1.6117,1.0,NaN,NaN,0.376,0.1466,1.8186,1.4012,1.0606,506.88,1961.97,18.531,5.2858,193.94,127.33,NaN,9315.0,10008.0,3.733,147.94,1149.1,0.28670,1.932367,3.4060,29.9107,12.8549,73.85,0.7140,5.8576,0.3845,84.6338,NaN,NaN,2.9068,3.64,30.3136,3.75,1.4012,7.640,114.4281,7.2900,1.0451,33.012,6.3513,NaN,3.6725,NaN,2.5935
2010-01-27,6.8270,1.4072,89.20,1.6226,1.0,NaN,0.9020,0.376,0.1473,1.8359,1.4019,1.0657,512.12,1972.22,18.555,5.2906,193.65,127.66,46.29,9380.0,10007.0,3.729,147.99,1151.2,0.28680,1.932367,3.4210,29.9026,12.9295,73.80,0.7075,5.8410,0.3845,84.6196,NaN,NaN,2.9082,3.64,30.2921,3.75,1.4019,7.585,NaN,7.3025,1.0453,33.002,6.3570,NaN,3.6725,NaN,2.5935
2010-01-28,6.8271,1.3999,90.31,1.6244,1.0,NaN,0.9010,0.376,0.1471,1.8505,1.4026,1.0643,520.69,1988.05,18.739,5.3180,193.57,128.04,46.31,9408.0,10008.0,NaN,148.07,1159.4,0.28710,1.932367,3.4105,29.8749,12.9975,74.20,0.7062,5.8426,0.3845,84.5554,NaN,NaN,2.8957,3.64,30.3631,3.75,1.4026,7.565,114.5503,7.2775,1.0518,33.047,6.3579,NaN,3.6725,NaN,2.5935
2010-01-29,6.8270,1.3966,89.85,1.6138,1.0,NaN,0.8909,0.376,0.1470,1.8552,1.4046,1.0650,531.75,1991.21,18.782,5.3303,193.98,127.67,46.37,9365.0,NaN,3.724,148.19,1156.5,0.28710,1.932367,3.4130,29.8897,13.0098,74.00,0.7048,5.8800,0.3845,84.7339,NaN,NaN,2.9083,3.64,30.4312,3.75,1.4046,7.555,NaN,7.3325,1.0498,33.075,NaN,NaN,3.6725,NaN,2.5935

- Step 3. Create a dataframe that includes date range for the analysis - `2010-01-01`.

In [120]:
df = pd.DataFrame(pd.date_range('2010-01-01', datetime.today()), columns=['dates'])
df.head()

       dates
0 2010-01-01
1 2010-01-02
2 2010-01-03
3 2010-01-04
4 2010-01-05

In [121]:
# add year and moth columns
df['year'] = df['dates'].dt.year
df['month'] = df['dates'].dt.month

In [122]:
df.head()

       dates  year  month
0 2010-01-01  2010      1
1 2010-01-02  2010      1
2 2010-01-03  2010      1
3 2010-01-04  2010      1
4 2010-01-05  2010      1

In [123]:
# group the dates based on year and month
df.groupby(['year', 'month'])['dates'].min()

year  month
2010  1       2010-01-01
      2       2010-02-01
      3       2010-03-01
      4       2010-04-01
      5       2010-05-01
                 ...
2022  10      2022-10-01
      11      2022-11-01
      12      2022-12-01
2023  1       2023-01-01
      2       2023-02-01
Name: dates, Length: 158, dtype: datetime64[ns]

In [124]:
# reset the index to default and overwrite df
df.groupby(['year', 'month'])['dates'].min().index

MultiIndex([(2010,  1),
            (2010,  2),
            (2010,  3),
            (2010,  4),
            (2010,  5),
            (2010,  6),
            (2010,  7),
            (2010,  8),
            (2010,  9),
            (2010, 10),
            ...
            (2022,  5),
            (2022,  6),
            (2022,  7),
            (2022,  8),
            (2022,  9),
            (2022, 10),
            (2022, 11),
            (2022, 12),
            (2023,  1),
            (2023,  2)],
           names=['year', 'month'], length=158)

In [125]:
df = df.groupby(['year', 'month'])['dates'].min().reset_index()
df.head()

   year  month      dates
0  2010      1 2010-01-01
1  2010      2 2010-02-01
2  2010      3 2010-03-01
3  2010      4 2010-04-01
4  2010      5 2010-05-01

In [126]:
dfs = []

for date in tqdm(df['dates']):
    try:
        url = f'https://www.imf.org/external/np/fin/data/rms_mth.aspx?SelectDate={date:%Y-%m-%d}&reportType=REP'
        response_df = pd.read_html(url)
        # table 1
        response_df[5].columns = response_df[5].columns.droplevel(0)
        temp_df = response_df[5].set_index('Currency').T
        temp_df.index = pd.to_datetime(temp_df.index.astype('str').str.replace(',', ', '))
        # when there is no table 2 due to date, skip table 2
        if response_df[6].shape == (2, 2):
            dfs.append(temp_df)
            continue
        # table 2
        response_df[6].columns = response_df[6].columns.droplevel(0)
        temp_df2 = response_df[6].set_index('Currency').T
        temp_df2.index = pd.to_datetime(temp_df2.index.astype('str').str.replace(',', ', '))
        # concatenate tables
        combined_df = pd.concat([temp_df, temp_df2])
        # add the df to dfs
        dfs.append(combined_df)
    except Exception as e:
        print(f'Exception for {date:%Y-%m-%d} : {e}')

 43%|████▎     | 68/158 [02:42<03:35,  2.39s/it]

KeyboardInterrupt: