In [1]:
import pandas as pd 
import numpy as np
pd.set_option('display.max_columns', 200)
import matplotlib.pyplot as plt

In [2]:
import sys 
sys.path.append('../') # add the parent directory to the path

### GENERATE MARKDOWN TEXT

In [9]:
from helper.generate_markdown import generate_markdown_text
generate_markdown_text('1.Find columns composed of missing values only.')

'1. [Find columns composed of missing values only.](#-1.Find-columns-composed-of-missing-values-only.)'

# Explore Pandas GroupBy and Memory Optimization using US Congress Dataset
1. [Find columns composed of missing values only.](#-1.Find-columns-composed-of-missing-values-only.)

In [4]:
df = pd.read_csv('../data/external/legislators-historical.csv')

df.shape

(11975, 34)

In [5]:
df.columns

Index(['last_name', 'first_name', 'middle_name', 'suffix', 'nickname',
       'full_name', 'birthday', 'gender', 'type', 'state', 'district',
       'senate_class', 'party', 'url', 'address', 'phone', 'contact_form',
       'rss_url', 'twitter', 'facebook', 'youtube', 'youtube_id',
       'bioguide_id', 'thomas_id', 'opensecrets_id', 'lis_id', 'fec_ids',
       'cspan_id', 'govtrack_id', 'votesmart_id', 'ballotpedia_id',
       'washington_post_id', 'icpsr_id', 'wikipedia_id'],
      dtype='object')

In [6]:
df.head()

,last_name,first_name,middle_name,suffix,nickname,full_name,birthday,gender,type,state,district,senate_class,party,url,address,phone,contact_form,rss_url,twitter,facebook,youtube,youtube_id,bioguide_id,thomas_id,opensecrets_id,lis_id,fec_ids,cspan_id,govtrack_id,votesmart_id,ballotpedia_id,washington_post_id,icpsr_id,wikipedia_id
0,Bassett,Richard,NaN,NaN,NaN,NaN,1745-04-02,M,sen,DE,NaN,2.0,Anti-Administration,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,B000226,NaN,NaN,NaN,NaN,NaN,401222,NaN,NaN,NaN,507.0,Richard Bassett (politician)
1,Bland,Theodorick,NaN,NaN,NaN,NaN,1742-03-21,M,rep,VA,9.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,B000546,NaN,NaN,NaN,NaN,NaN,401521,NaN,NaN,NaN,786.0,Theodorick Bland (congressman)
2,Burke,Aedanus,NaN,NaN,NaN,NaN,1743-06-16,M,rep,SC,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,B001086,NaN,NaN,NaN,NaN,NaN,402032,NaN,NaN,NaN,1260.0,Aedanus Burke
3,Carroll,Daniel,NaN,NaN,NaN,NaN,1730-07-22,M,rep,MD,6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,C000187,NaN,NaN,NaN,NaN,NaN,402334,NaN,NaN,NaN,1538.0,Daniel Carroll
4,Clymer,George,NaN,NaN,NaN,NaN,1739-03-16,M,rep,PA,-1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,C000538,NaN,NaN,NaN,NaN,NaN,402671,NaN,NaN,NaN,1859.0,George Clymer

### 1.Find columns composed of missing values only.

In [10]:
df.isnull().all()

last_name             False
first_name            False
middle_name           False
suffix                False
nickname              False
full_name             False
birthday              False
gender                False
type                  False
state                 False
district              False
senate_class          False
party                 False
url                   False
address               False
phone                 False
contact_form          False
rss_url               False
twitter                True
facebook               True
youtube                True
youtube_id             True
bioguide_id           False
thomas_id             False
opensecrets_id        False
lis_id                False
fec_ids               False
cspan_id              False
govtrack_id           False
votesmart_id          False
ballotpedia_id        False
washington_post_id     True
icpsr_id              False
wikipedia_id          False
dtype: bool

In [15]:
# filter the null-only columns
df.columns[df.isnull().all()]

Index(['twitter', 'facebook', 'youtube', 'youtube_id', 'washington_post_id'], dtype='object')

In [17]:
# save the null only column as list
null_col_list = df.columns[df.isnull().all()].to_list()
null_col_list

['twitter', 'facebook', 'youtube', 'youtube_id', 'washington_post_id']

In [18]:
# method 1: pass in the null_col_list
df.drop(null_col_list, axis=1).columns

Index(['last_name', 'first_name', 'middle_name', 'suffix', 'nickname',
       'full_name', 'birthday', 'gender', 'type', 'state', 'district',
       'senate_class', 'party', 'url', 'address', 'phone', 'contact_form',
       'rss_url', 'bioguide_id', 'thomas_id', 'opensecrets_id', 'lis_id',
       'fec_ids', 'cspan_id', 'govtrack_id', 'votesmart_id', 'ballotpedia_id',
       'icpsr_id', 'wikipedia_id'],
      dtype='object')

In [19]:
# method 2: use dropna(how='all') method
df = df.dropna(how='all', axis=1)

In [20]:
df.shape

(11975, 29)