##  Writing `zip` files to a Pandas DF as a `csv` file using `python dictionary`. 
- 0. Download and inspect the zip file from the source using `wget.download()` method.
- 1. Iterate through zip file list, convert each text file to a df, update the `df dictionary`.
- 2. Run a sample query against the dictionary. 
- 3. `Join` all dfs and create `csv` file.
- 4. Clean up.

In [2]:
import pandas as pd
import numpy as np
import os
from glob import glob
import wget
from zipfile import ZipFile

- 0. Download and inspect the zip file from the source using `wget.download()` method.

In [11]:
url = 'http://www.ssa.gov/OACT/babynames/names.zip'
babynames = wget.download(url)
babynames

'names.zip'

- 1. Iterate through zip file list, convert each text file to a df, update the `df dictionary`.

In [12]:
zip_file = ZipFile(babynames)

# create a dictionary
df_dict = {}

try:
    for text_file in zip_file.infolist():
        if text_file.filename.endswith('.txt'):     # exclude PDF file
            columns = ['Name', 'Sex', 'Count']  # set column names
            year = int(text_file.filename[3:7])
            df = pd.read_csv(zip_file.open(text_file.filename)
                            , header= None
                            , names= columns)        
            df['Year'] = year      # add Year column 
            df_dict[text_file.filename] = df     # add the df to the df_list
except Exception as e:
    print(e)
else:
    print(df_dict.keys())  # print the file names in the dictionary

dict_keys(['yob1880.txt', 'yob1881.txt', 'yob1882.txt', 'yob1883.txt', 'yob1884.txt', 'yob1885.txt', 'yob1886.txt', 'yob1887.txt', 'yob1888.txt', 'yob1889.txt', 'yob1890.txt', 'yob1891.txt', 'yob1892.txt', 'yob1893.txt', 'yob1894.txt', 'yob1895.txt', 'yob1896.txt', 'yob1897.txt', 'yob1898.txt', 'yob1899.txt', 'yob1900.txt', 'yob1901.txt', 'yob1902.txt', 'yob1903.txt', 'yob1904.txt', 'yob1905.txt', 'yob1906.txt', 'yob1907.txt', 'yob1908.txt', 'yob1909.txt', 'yob1910.txt', 'yob1911.txt', 'yob1912.txt', 'yob1913.txt', 'yob1914.txt', 'yob1915.txt', 'yob1916.txt', 'yob1917.txt', 'yob1918.txt', 'yob1919.txt', 'yob1920.txt', 'yob1921.txt', 'yob1922.txt', 'yob1923.txt', 'yob1924.txt', 'yob1925.txt', 'yob1926.txt', 'yob1927.txt', 'yob1928.txt', 'yob1929.txt', 'yob1930.txt', 'yob1931.txt', 'yob1932.txt', 'yob1933.txt', 'yob1934.txt', 'yob1935.txt', 'yob1936.txt', 'yob1937.txt', 'yob1938.txt', 'yob1939.txt', 'yob1940.txt', 'yob1941.txt', 'yob1942.txt', 'yob1943.txt', 'yob1944.txt', 'yob1945.txt', 'yob1946.txt', 'yob1947.txt', 'yob1948.txt', 'yob1949.txt', 'yob1950.txt', 'yob1951.txt', 'yob1952.txt', 'yob1953.txt', 'yob1954.txt', 'yob1955.txt', 'yob1956.txt', 'yob1957.txt', 'yob1958.txt', 'yob1959.txt', 'yob1960.txt', 'yob1961.txt', 'yob1962.txt', 'yob1963.txt', 'yob1964.txt', 'yob1965.txt', 'yob1966.txt', 'yob1967.txt', 'yob1968.txt', 'yob1969.txt', 'yob1970.txt', 'yob1971.txt', 'yob1972.txt', 'yob1973.txt', 'yob1974.txt', 'yob1975.txt', 'yob1976.txt', 'yob1977.txt', 'yob1978.txt', 'yob1979.txt', 'yob1980.txt', 'yob1981.txt', 'yob1982.txt', 'yob1983.txt', 'yob1984.txt', 'yob1985.txt', 'yob1986.txt', 'yob1987.txt', 'yob1988.txt', 'yob1989.txt', 'yob1990.txt', 'yob1991.txt', 'yob1992.txt', 'yob1993.txt', 'yob1994.txt', 'yob1995.txt', 'yob1996.txt', 'yob1997.txt', 'yob1998.txt', 'yob1999.txt', 'yob2000.txt', 'yob2001.txt', 'yob2002.txt', 'yob2003.txt', 'yob2004.txt', 'yob2005.txt', 'yob2006.txt', 'yob2007.txt', 'yob2008.txt', 'yob2009.txt', 'yob2010.txt', 'yob2011.txt', 'yob2012.txt', 'yob2013.txt', 'yob2014.txt', 'yob2015.txt', 'yob2016.txt', 'yob2017.txt', 'yob2018.txt', 'yob2019.txt', 'yob2020.txt', 'yob2021.txt'])

- 2. Run a sample query against the dictionary.

`List the least popular 10 male names in 2021`

In [13]:
df_dict['yob2021.txt'].query('Count <= 5 and Sex == "M"') \
                    .set_index(['Year', 'Sex']) \
                    .sort_values('Count') \
                    .head(10)

                     Name  Count
Year Sex
2021 M             Aadith      5
     M            Munachi      5
     M     Mukhammadyusuf      5
     M          Mukhammad      5
     M       Muhammadumar      5
     M       Muhammadmusa      5
     M    Muhammadibrahim      5
     M      Muhammadhasan      5
     M              Mozzi      5
     M             Moyses      5

In [14]:
final_df = pd.concat(df for df in df_dict.values())

final_df.shape

(2052781, 4)

- 3. `Join` all dfs and create `csv` file.

In [4]:
# final_df.to_csv('data/cleaned/SocialSecurityNamesAllYears.csv', index=False)

- 4. Clean up.

In [3]:
os.remove('names.zip')